<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solvro_Backend</title>

  </head>
  <body>
    <h1>Dodaj nowy task do {{id}}</h1>
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Submit"></button>
  </form>
  
  <h1>Lista tasków {{id}}</h1>
  {% for e in obj %}
    <li>
      id: "{{e.id}}" description: "{{e.name}}"
    </li>
  {% endfor %}


  </body>
</html>